<div class="main">
<div class="comic-container">
<h2>累計発行部数ランキング</h2>
  <div class="comic-items">
    <ol>
    <% @ranking_tweets.each do |tweet| %>
    <h3><li>
      <%= link_to tweet.title, tweet_path(tweet) %> - <%= tweet.circulationtotal %>
    </li></h3>
      <div class="comic-image">
        <%= image_tag tweet.image, width: 250 %>
      </div>
      <h4>ジャンル</h4>
        <% tweet.tags.each do |tag| %>
          <ol>＃<span><%= tag.name %></span></ol>
        <% end %>
      <h4>あらすじ</h4>
      <p><%= tweet.about %></p>

    <% end %>
    </ol>
  </div>
</div>
</div>
<%= stylesheet_link_tag "rankingtotal", media: "all" %>