<div class="main">
  <h3>検索結果</h3>
  <div class="tweets-container">
    <% @tweets.each do |t| %>
      <div class="tweet">
        <h2><%= link_to t.title, tweet_path(t.id) %></h2>
        <div class="comic-image">
          <% if t.image.attached? %>
            <%= image_tag t.image, width: 250 %>
          <% end %>
        </div>
        <h4>あらすじ</h4>
      <p><%= t.about %></p>
        <% if reader_signed_in? %>
          <% if current_reader.already_liked?(t) %>
            <%= button_to tweet_like_path(id: t.id, tweet_id: t.id), data: { turbo_method: :delete } do %>
                <i class="fa-solid fa-thumbs-up"></i><%= t.likes.count %>
            <% end %>
          <% else %>
            <%= button_to tweet_likes_path(id: t.id, tweet_id: t.id), data: { turbo_method: :post }  do %>
              <i class="fa-solid fa-thumbs-up"></i><%= t.likes.count %>              <% end %>
          <% end %>
        <% else %>
          <i class="fa-solid fa-thumbs-up"></i><%= t.likes.count %>
        <% end %>
        
        <% if reader_signed_in? && current_reader.email == ENV['ADMIN_EMAIL'] %> 
          <%= link_to "編集", edit_tweet_path(t.id) %>
          <%= button_to "削除", tweet_path(t.id), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag "application", media: "all" %>
<%= stylesheet_link_tag "thumb", media: "all" %>