<!DOCTYPE html>
<html>
  <head>
    <title>neXt comiX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://kit.fontawesome.com/0f07c2fa61.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>neXt comiX</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "ホーム", tweets_home_path %></li>
        <% if reader_signed_in? && current_reader.email == ENV['ADMIN_EMAIL'] %> 
          <li><%= link_to "新規作品紹介へ", main_app.new_tweet_path %></li>
        <% end %>
        <% if reader_signed_in? %>
          <%= button_to 'ログアウト', destroy_reader_session_path, method: :delete %>
        <% end %>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
    <div class= "menu">
      <div class="catch-copy">
        <h2>つぎ何読む？</h2>
        <h4>ココから検索！</h4>
      </div>
      <h3><%= link_to "累計発行部数ランキング", tweets_rankingtotal_path %></h3>
      <h3>年代別人気漫画ランキング(発行部数)</h3>
      <%= link_to "～1999年", tweets_ranking2000_path %>
      <%= link_to "2000年～2009年", tweets_ranking2010_path %>
      <%= link_to "2010年～2014年", tweets_ranking2015_path %>
      <%= link_to "2015年～2019年", tweets_ranking2020_path %>
      <%= link_to "2020年～2024年", tweets_ranking2025_path %>
      <h3>マンガ検索</h3>
      ▼作品名から
      <%= form_tag(tweets_thumb_path, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索' %>
      <% end %>
      ▼ジャンルから絞り込み
      <%= form_tag(tweets_thumb_path, method: :get) do %>
          <% Tag.all.each do |t| %>
              <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
          <% end %>
          <%= submit_tag 'タグ検索' %>
      <% end %>
      <% if reader_signed_in? && current_reader.email == ENV['ADMIN_EMAIL'] %> 
        <%= form_tag({controller:"tweets",action:"thumb"}, method: :get) do %>
          <%= text_field_tag :tag %>
          <%= submit_tag 'タグを追加' %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
